/* основной цвет текста #757575 */
/* вторичный цвет текста #212121 */

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary-text-color: #757575;
  --tittle-text-color: #212121;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
  color: #212121;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.container {
  /* outline: 2px solid black; */
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* ====Лого==== */

.logo {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo-web {
  color: #2196f3;
}

/* ===Header=== */

.page__header {
  border-bottom: 1px solid #ececec;
}

.page__header__container {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  justify-content: space-between;
}

.header__nav {
  display: flex;
  align-items: center;
}

/* Site nav */

.site__nav {
  display: flex;
  margin-left: 93px;
}

.site__nav > .site__nav__item:not(:last-child) {
  margin-right: 50px;
}

.site__nav__item .site__nav__link {
  display: flex;
  align-items: center;
}

.site__nav__link {
  display: flex;
  align-items: center;
  color: var(--tittle-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site__nav .site__nav__link {
  color: var(--tittle-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site__nav .site__nav__link {
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
}

.site__nav .site__nav__link:hover,
.site__nav .site__nav__link:focus {
  color: #2196f3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site__nav .site__nav__link.current::after {
  position: absolute;
  bottom: 0;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  margin-top: 28px;
  background-color: #2196f3;
  border-radius: 2px;
}

.site__nav .site__nav__link.current {
  color: #2196f3;
  position: relative;
}

.site__nav__contacts {
  display: flex;
  align-items: center;
  color: var(--tittle-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site__nav__contacts > .site__nav__contacts__item:not(:last-child) {
  margin-right: 50px;
}

.site__nav__contacts .site__nav__link:hover,
.site__nav__contacts .site__nav__link:focus {
  color: #2196f3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mailto__icon,
.tel__icon {
  margin-right: 10px;
  fill: currentColor;
}

/* hero */
.hero {
  background-color: #2f303a;

  background-repeat: no-repeat;
  background-position: center;
}

.hero__container {
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/hero.jpg');
}

.hero-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-align: center;
  margin-top: 200px;
  margin-bottom: 30px;
}

/* Кнопка заказать услугу */
.hero-studio {
  display: block;
  margin-bottom: 200px;
  padding: 10px 32px;
  text-decoration: none;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  text-align: center;
  cursor: pointer;
}

/* Section  */

/* ====Особенности==== */

.section {
  padding-top: 94px;
}

.section__feature {
  padding-top: 94px;
}

.feature__list {
  display: flex;
  flex-wrap: wrap;

  margin-left: -30px;
}

.feature__list__item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
}

.section-title__heading {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--tittle-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  padding-top: 30px;
}

.feature__container__icon {
  display: block;
  flex-wrap: wrap;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.feature-icon {
  width: 70px;
  margin: auto;
  display: flex;
}

.feature__list__text {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

/*===Чем мы занимаемся=== */

.section__direction {
  padding-top: 94px;
}

.section__direction__heading {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.direction__card__set {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 94px;
  padding-top: 50px;
  margin-left: -30px;
}

.direction__card-set__item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
}

.card-set-thumb {
  position: relative;
}

.card-set-thumb-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(47, 48, 58, 0.8);
  color: #ffffff;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

/*===Наша Команда=== */

.section__command {
  background-color: #f5f4fa;
}

.section__command__container {
  padding-top: 94px;
}

.section__command__heading {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.card__group {
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-bottom: 94px;
  margin-left: -30px;
}

.card__group__item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
}

.card__group__item,
.card__group__link {
  background-color: #ffffff;
  text-decoration: none;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.card__group__title {
  color: #212121;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  padding-top: 30px;
  padding-bottom: 10px;
  text-align: center;
}

.card__group__text {
  color: #757575;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
}

.social__list {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 16px 32px 30px 32px;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  fill: #afb1b8;
}

.social__link:hover,
.social__link:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

/* ====Постоянные клиенты=== */

.client__container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.client__title {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.client__list {
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.client__list__item {
  height: 90px;
  width: 170px;
}

.client__list__item:not(:first-child) {
  margin-left: 30px;
}

.client__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
}

.client__link:hover,
.client__link:focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
  fill: #2196f3;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Портфолио */

.projects-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

/* Кнопки фильтров */

.btn-filter {
  border: none;
  padding: 6px 22px;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  border-radius: 4px;
  background: #f5f4fa;
}

.btn .item:not(:last-child) {
  margin-right: 8px;
}

.btn-filter:hover,
.btn-filter:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-work {
  display: flex;
  flex-wrap: wrap;

  margin-left: -30px;
  margin-top: -30px;
}

.card-work > .item {
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
  border: 1px solid #eeeeee;
}

.card-work .item:hover,
.card-work .item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ===Overlay=== */

.work-thumb-link {
  text-decoration: none;
}

/* .work-thumb-card:hover .work-thumb-text-overlay {
  opacity: 1;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

.work-thumb {
  position: relative;
  overflow: hidden;
}

.work-thumb-card {
  overflow: hidden;
  position: relative;
}

.work-thumb-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
}

.work-thumb:hover .work-thumb-overlay {
  opacity: 1;
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work-thumb-text {
  margin: 0;
  padding: 63px 20px;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.hero-btn {
  border: none;
}

.card-section {
  padding: 20px 24px;
}

.section-work {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.work-text {
  color: #757575;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
}

/* ====Footer=== */
.footer {
  background-color: #2f303a;
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.footer__adress__container {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.footer__logo {
  color: #ffffff;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  padding-bottom: 20px;
}

.contacts__adress {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer__contacts {
  padding-top: 22px;
  padding-bottom: 58px;
}

.footer__contacts__item {
  padding-top: 9px;
}

.footer__contacts__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.footer__contacts__link:hover,
.footer__contacts__link:focus {
  color: #2196f3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ===Присоединяйтесь=== */

.footer__social {
  padding-left: 70px;
  align-items: baseline;
}

.footer__social__title {
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 16px;
  text-transform: uppercase;
  color: #ffffff;
}

.footer__social__group {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-top: 20px;
  width: 206px;
}

.footer__social__list {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.footer__social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  fill: #afb1b8;
}

.footer__social__link:hover,
.footer__social__link:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

.footer__social__icon {
  fill: #ffffff;
}

/* ====Mailing==== */
.mailing__container {
  margin-left: 93px;
}

.mailing__text {
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.mailing__form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.mailing__label {
  display: inline-block;
}

.mailing__input {
  padding: 15px 16px;
  width: 358px;
  height: 50px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
}

.subscribe__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 200px;
  height: 50px;
  color: #ffffff;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: 1px solid transparent;
  border-radius: 4px;
}

.send__icon {
  margin-left: 10px;
  fill: currentColor;
}

/* ===Модельное окно=== */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  /* outline: 2px solid red; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.1);
  overflow: auto;
  padding: 40px;
  max-width: 528px;
  width: 100%;
  max-height: 100vh;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin-left: auto;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal-close:hover,
.modal-close:focus {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-text {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
}

.modal-form {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
}

.modal-label:not(:first-child) {
  margin-top: 10px;
}

.modal-label {
  display: flex;
  flex-direction: column;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.input-wraper {
  position: relative;
}

.modal-input:focus {
  border: 1px solid #2196f3;
  outline: none;
}

.modal-input:focus ~ .input-icon {
  border-radius: 4px;
  fill: #2196f3;
}

.modal-input {
  margin-top: 4px;
  padding: 11px 42px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input.feedback {
  padding: 12px 16px;
  resize: none;
}

/* ==Checkbox=== */

.checkbox {
  margin-top: 20px;
}

.checkbox-label {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-text {
  margin-left: 7px;
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
}

.checkbox-link {
  color: #2196f3;
  text-decoration: underline;
}

.check-icon {
  opacity: 0;
}

.checkbox-input:checked ~ .check-icon {
  opacity: 1;
}

.checkbox-input:checked ~ .uncheck-icon {
  opacity: 0;
}

.check-icon,
.uncheck-icon {
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn {
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 55px;
  color: #ffffff;
  background-color: #2196f3;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
