/* основной цвет текста #757575 */
/* вторичный цвет текста #212121 */

:root {
  --primary-text-color: #757575;
  --tittle-text-color-black: #212121;
  --white-color: #ffffff;
  --blue-color: #2196f3;
}
